@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #5D3587;
    --secondary: #A367B1;
    --accent: #FFFFFF;
    --neutral: #A367B1;
    --base-100: #392467;
    --info: #7BD3EA;
    --success: #A1EEBD;
    --warning: #F6F7C4;
    --error: #F6D6D6;
}